# Connect to the mid-term PostgreSQL database

In [1]:
import psycopg2  # PostgreSQL database adapter

[psycopg2 documentation](https://www.psycopg.org/docs/)

Use database credentials from [Compass](https://data.compass.lighthouselabs.ca/days/w05d5/activities/823)

In [2]:
# These credentials should probably not be pushed.
con = psycopg2.connect(
    database='',
    user='',
    password='',
    host='',
    port='5432'
)

In [3]:
cur = con.cursor()

In [5]:
SQL = '''
SELECT 
FROM
WHERE
GROUP BY
ORDER BY
LIMIT;
'''

In [ ]:
cur.execute(SQL)
rows = cur.fetchall()

# Save to CSV

Adapted from [ObjectRocket](https://kb.objectrocket.com/postgresql/from-postgres-to-csv-with-python-910)

In [ ]:
S = '''
SELECT 
FROM
WHERE
GROUP BY
ORDER BY
LIMIT
'''  # no semi-colon as per PostgreSQL documentation

In [6]:
SQL_for_file_output = f'COPY ({S}) TO STDOUT WITH CSV HEADER'

In [ ]:
with open('filename.csv', 'w') as f_output:
    cur.copy_expert(SQL_for_file_output, f_output)

# Close database cursor and connection

In [7]:
cur.close()
con.close()