In [1]:
import pandas as pd
# Project level modules
from modules import database_connection, sql_statements
from modules.database_connection import (
    postgresql_connection, get_table_data_types, dataframe_to_csv,
    execute_sql_statement, get_descriptive_statistics
)

# Make PostgreSQL database connection

# Table Names

In [2]:
table_names = ['flights', 'flights_test', 'fuel_comsumption', 'passengers']

In [3]:
cat_features_flights = ['fl_date', 'mkt_unique_carrier']

In [4]:
con = postgresql_connection()

Connected

In [5]:
frames = []
for name in table_names:
    # Generate list of dataframes of table datatypes
    df = get_table_data_types(connection=con,
                                table_name=name)
    frames.append()

In [15]:
for frame in frames:
    frame.insert(loc=0, column='table_name', value=frame.columns.name)

In [16]:
frames[0]

flights table_name          column_name         data_type
0          flights              fl_date              text
1          flights   mkt_unique_carrier              text
2          flights   branded_code_share              text
3          flights          mkt_carrier              text
4          flights   mkt_carrier_fl_num           integer
5          flights    op_unique_carrier              text
6          flights             tail_num              text
7          flights    op_carrier_fl_num           integer
8          flights    origin_airport_id           integer
9          flights               origin              text
10         flights     origin_city_name              text
11         flights      dest_airport_id           integer
12         flights                 dest              text
13         flights       dest_city_name              text
14         flights         crs_dep_time           integer
15         flights             dep_time  double precision
16         flights            dep_delay  double precision
17         flights             taxi_out  double precision
18         flights           wheels_off  double precision
19         flights            wheels_on  double precision
20         flights              taxi_in  double precision
21         flights         crs_arr_time           integer
22         flights             arr_time  double precision
23         flights            arr_delay  double precision
24         flights            cancelled  double precision
25         flights    cancellation_code              text
26         flights             diverted  double precision
27         flights                  dup              text
28         flights     crs_elapsed_time  double precision
29         flights  actual_elapsed_time  double precision
30         flights             air_time  double precision
31         flights              flights  double precision
32         flights             distance  double precision
33         flights        carrier_delay  double precision
34         flights        weather_delay  double precision
35         flights            nas_delay  double precision
36         flights       security_delay  double precision
37         flights  late_aircraft_delay  double precision
38         flights       first_dep_time              text
39         flights      total_add_gtime  double precision
40         flights    longest_add_gtime  double precision
41         flights              no_name  double precision

In [17]:
# Concatenate frames on the columns
data_types_df = pd.concat(frames, axis=1)

In [19]:
dataframe_to_csv(data_types_df, '../data/table_data_types.csv')